
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




@theme{
    --font-mont: "Montserrat", sans-serif;
}


/* Swiper pagination bullet style */
.swiper-pagination-bullet {
  background: #b9b5b5 !important;
  width: 15px !important;
  height: 15px !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #0B6434 !important; 
  width: 15px !important;
  height: 15px !important;
}


.swiper{
    height: 204px !important;
}